doctype html
html(lang="ru")
	head
		block title
			title Главная
		block meta
			meta(charset="UTF-8")
			meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
			meta(http-equiv="x-ua-compatible", content="ie=edge")
		block link
			//build:css css/vendor.css
			//bower:css
			//endbower
			//endbuild
			
			//build:css css/style.css
			link(href="css/style.css", rel="stylesheet", type="text/css")
			//endbuild
			= '\n' 
			!= "<!--[if IE]>"
			script(src="//html5shiv.googlecode.com/svn/trunk/html5.js")
			!= "<![endif]-->"
	body
		#wrapper
			block content
				h1 Hello Pug!
			block footer
				footer Footer
		block scripts
			//build:js js/vendor.js
			//bower:js
			//endbower
			//endbuild

			//build:js js/app.js
			script(src="js/app.js")
			//endbuild
