#modal-container.modal
	position fixed
	top 0
	left 0
	bottom 0
	right 0
	background #000
	background rgba(0, 0, 0, 0.85)
	z-index: 3
	.modal__background
	.modal__content-container
		height 50%
		width 50%
		overflow auto
		margin auto
		position absolute
		top 0
		left 0
		bottom 0
		right 0
		.modal__close-button
		