extends templates/layout.pug
block title
	title Тестовое задание
block content
	header#header
		.container
			h1 Тестовое задание
	main#main.content
		.container
			article
				p На єтой странице присутствуют все 3 задания из форми <a href="https://docs.google.com/forms/d/e/1FAIpQLSf0AZCHwUgdf6ATVMi2FAMgXB92zlxtIJuN5hciKR-0sUaRjA/viewform"><strong>"Обучение и стажировка - php developer"</strong></a>.
				h3 Список заданий
				ol
					li PHP - Задача php + ajax + jquery
					li HTML - Задача 1. Прижатий футер
					li HTML - Задача 2. Модальное окно с фоновим изображением
			#modap-open.btn Форма
	include templates/parts/modal.pug
	#success-notify.modal
		.modal__content-container
			p Ваши данные успешно прошли проверку и были отправлены!
block footer
	footer#footer
		.container
			p!= '<a href="https://github.com/Maden-maxi"><i class="icon-github"></i></a>' 
